{% extends 'base.html' %}
  {% load static %}
  {% block title %}| Chat Room{% endblock %}
  {% block extra_head %}
    <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.3.1.js"></script>
  {% endblock %}
    <title>Agora Video Chat Django</title>
  {% block content %}
    <main id="app">
      <main>
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1 class="text-black" style="font-weight:600"><span class="text-warning">Video</span> Chat</h1>
              <h4 class="badge badge-danger h4 px-2 py-1">{{ request.user }}</h4><span class="ml-3"><a href="{% url 'agora:logout' %}">Log out</a></span>
            </div>
          </div>
        </div>
        <div class="container my-5">
          <div class="row">
            <div class="col">
              <div class="btn-group" role="group">
                {% for singleUser in allUsers%}
                <button
                  type="button"
                  class="btn btn-primary mr-2"

                  @click="placeCall('{{singleUser.id}}','{{singleUser}}')"
                >
                  Call {{ singleUser }}
                  <span class="badge badge-light"
                    >${ getUserOnlineStatus({{singleUser.id}})}</span
                  >
                </button>

                {% endfor %}
              </div>
            </div>
          </div>

          <!-- Incoming Call  -->
          <div class="row my-5" v-if="incomingCall">
            <div class="col-12">
              <p>Incoming Call From <strong>${ incomingCaller }</strong></p>
              <div class="btn-group" role="group">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                  @click="stopCall"
                >
                  Decline
                </button>
                <button
                  type="button"
                  class="btn btn-success ml-5"
                  @click="acceptCall"
                >
                  Accept
                </button>
              </div>
            </div>
          </div>
          <!-- End of Incoming Call  -->
        </div>

        <section id="video-container" v-if="callPlaced">
          <div id="local-video"></div>
          <div id="remote-video"></div>

          <div class="action-btns">
            <button
              type="button"
              class="btn btn-info"
              @click="handleAudioToggle"
            >
              ${ mutedAudio ? "Unmute" : "Mute" }
            </button>
            <button
              type="button"
              class="btn btn-primary mx-4"
              @click="handleVideoToggle"
            >
              ${ mutedVideo ? "Show" : "Hide" }
            </button>
            <button type="button" class="btn btn-danger" @click="stopCall">
              End
            </button>
          </div>

        </section>
      </main>
    </main>
  {% endblock %}
  {% block extra_js %}

    <!-- Add Scripts -->
    <script src="https://js.pusher.com/7.0.3/pusher.min.js"></script>
    <script>
      console.log("pusher");
      window.pusher = new Pusher("14a70f173fd63bd6827c", {
        authEndpoint: "{% url 'agora:agora-pusher-auth' %}",
        cluster: 'ap1',
        auth: { headers: { "X-CSRF-Token": "{{ csrf_token }}" } },
      });

      const AUTH_USER = "{{user}}";
      const AUTH_USER_ID =  "{{request.user.id}}";
      const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
  {% endblock %}
